div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid;
  animation-duration: 10s;
  animation-name: example1;
  position: relative;
  left: 30%;
  top: 100px;
}

@keyframes example1{
  from {background-color: red;}
  to {background-color: blue;}
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100%{
    transform: scale(1);
  }

}
